name: Build and Run

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install coverage tool
      run: |
        sudo apt-get update
        sudo apt-get install -y gcovr
    - name: build
      run: g++ -Wall -Wextra -fprofile-arcs -ftest-coverage -o testchecker ./Sender/*.c 
      
    - name: run
      run: ./testchecker

    - name: collect coverage
      run: gcovr --gcov-exclude=".*test.*" -r . --html --html-details -o coverage.html --print-summary

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: ./*.html
        retention-days: 21
      
    - name: Build Receiver
      run: javac src/main/java/Reciever/ReceiverServiceImpl.java src/main/java/Reciever/BatteryProperties.java src/main/java/Reciever/CheckBatteryProperties.java src/main/java/Reciever/PrintProperty.java src/main/java/Reciever/ReportBatteryPropeties.java
      
    - name: run
      run: mvn compile exec:java -Dexec.mainClass="Reciever.ReceiverServiceImpl"
